store/
!store/videos
.vscode/
__pycache__
store
*.avi
*.mp4
*.png
*.webm
*.kra
*~
.ipynb_checkpoints
*.bmp
*.jpg
.env
!marker.png
!mask.png
result.json
!nbs/first_video.mp4
*.pyc
testing
.nb_args
result.html
*.log
runs
datasets
*.pt
*.jpeg
*.jpg
*.log
*yolo*
video_upload.ipynb
visualize.ipynb
nbs
utils.py
main-old.ipynb
ARTICLES.md
NOTES.md
TODO.md
scratchpad.py
store/